<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976146617621-nme0hjq5jn9i4efn7qa9k2fsdem43usj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976146617621-nme0hjq5jn9i4efn7qa9k2fsdem43usj</string>
	<key>API_KEY</key>
	<string>AIzaSyCRv7ZNKh2Jd3_phSiLw-UNppotiPLuOMM</string>
	<key>GCM_SENDER_ID</key>
	<string>976146617621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TMA.JarrodsCoffee</string>
	<key>PROJECT_ID</key>
	<string>jarrodscafe</string>
	<key>STORAGE_BUCKET</key>
	<string>jarrodscafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976146617621:ios:3d94c03e823fe28cbe051c</string>
</dict>
</plist>